{% extends "layout.html" %}
{% from "macros/categories.html" import render_post_list %}
{% block title %}Category {{ this.name }} {{super.title}}{% endblock %}
{% block body %}
  <h2 class="big">Category: {{ this.name }}</h2>
  <div class="cat-desc">{{ this.description }}</div>
  <h4>Posts</h4>
  {% if this.children %}
    {{ render_post_list(this.children) }}
  {%else%}
    <p>No posts in category {{this.name}} yet. May be there is a draft in the works.</p>
  {% endif %}
  <br>
  <p>
    <a href="/categories">Show all Categories</a>
  </p>
{% endblock %}